<% if current_user %>
  <ul>
    <li><%= current_user.email %></li>
    <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Log In", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>
  </ul>
<% end %>